// Place all the styles related to the Times controller here.
// They will automatically be included in application.css.

*{
    text-align: center;
}
h3, h1{
  border: 1px solid black;
  width: 25%;
  height: auto;
  margin: 0 auto;
  padding: 5%;
}
