form{
     text-align: right;
         width: 75%;
 }
 .login, .register{
     display: inline-block;
     border: 1px solid black;
     width: 400px;
     height: 500px;
     vertical-align: top;
     padding: 10px;
     margin-left: 10%;
     text-align: center;
 }

.description, .network, .invitations{
    border: 1px solid black;
    width: 35%;
    overflow: scroll;
    padding: 8%;
}
 *{
     margin-left: 5%;
 }

 .connect{
     border: 1px solid black;
     padding: 10%;
 }
 .home{
     position: absolute;
     top: 2%;
     right: 30%;
 }
